
.container {
  margin-top: 20%;
  margin-left:10%;
  font-family: Calibri;
 }

.select {
   -webkit-appearance: menulist-button;
   height: 40px;
   width: 250px;
   border-radius:5px;
   cursor: pointer;
   }
   
 .title {
    font-size: 40px;
    padding-bottom: 25px;
}

optgroup { font-size: 18px; }

/* Adjusted CSS for the streamlit-button class */
.streamlit-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}

.streamlit-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.streamlit-button a:hover {
  background-color: #333333;
}

