/* For Tablets */
@media all and (max-width: 1000px) {
  .container {
  margin-top: 30%;
  margin-left:15%;
  font-family: Calibri;
 }

.select {
   -webkit-appearance: menulist-button;
   height: 30px;
   width: 170px;
   border-radius:4px;
   cursor: pointer;
   }
   
 .title {
    font-size: 32px;
    padding-bottom: 17px;
}

optgroup { font-size: 12px; }
}

/* For Smartphones Portrait */
@media all and (max-width: 670px)
and (orientation : portrait){
.container {
  margin-top: 80%;
  margin-left:20%;
  font-family: Calibri;
 }
  
 .select {
   -webkit-appearance: menulist-button;
   height: 30px;
   width: 180px;
   border-radius:4px;
   cursor: pointer;
   }
   
 .title {
    font-size: 30px;
    padding-bottom: 20px;
}

optgroup { font-size: 14px; }
}

/* For Smartphones Landscape */
@media all and (max-width: 670px)
and (orientation : landscape){
.container {
  margin-top: 65%;
  margin-left:20%;
  font-family: Calibri;
 }

.select {
   -webkit-appearance: menulist-button;
   height: 20px;
   width: 125px;
   border-radius:3px;
   cursor: pointer;
   }
   
 .title {
    font-size: 20px;
    padding-bottom: 13px;
}

optgroup { font-size: 9px; }
  }
