html, body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-size: 100% 100%;
  height: 100vh;
  background-image: linear-gradient(
    to bottom left,
    rgba(191, 208, 225, 0.936),
    rgba(255, 255, 255, 0.96)
  );
  height: 100vh;
  overflow-y: hidden;
}

.title-important{
  text-align: center;
  color: rgb(17, 17, 17);
  font-size: 38px;
  padding-top: 0px;
  padding-bottom: 70px;
  color:#29367e;
  font-weight: bold;
}

table.mid{
  margin-left: auto;
  margin-right: auto;
}
.container {
  margin-top: 100px;
  margin-bottom: 100px;
}

table.mid {
  width: 70%;
  margin-top: 30px;
  border-collapse: collapse;
}

table.mid th,
table.mid td {
  border: 1.75px solid black;
  text-align: center;
  padding: 8px;
  font-size: 18px;
}

table.mid th {
  background-color: #D0CECE;
  height: 45px;
  font-size: 20px;
  color: black;
}

input.again{
  margin: 0 auto;
  display: block;
  width: 230px;
  height: 45px;
  border-radius: 6px;
  border-color: black;
  color: black;
  font-weight: bold;
  background-color:#f3f3f3b5;
  text-align: center;
  cursor: pointer;
  outline: none;
  box-shadow: 0.7px 1.5px #292727;
}

input.another{
  margin: 0 auto;
  display: block;
  width: 220px;
  height: 45px;
  border-radius: 6px;
  border-color: black;
  color: black;
  font-weight: bold;
  background-color:#f3f3f3b5;
  text-align: center;
  cursor: pointer;
  outline: none;
  box-shadow: 0.7px 1.5px #292727;
}


input.another:hover {
  background-color: rgba(0, 0, 0, 0.738);
  color: white;
 }
input.again:hover {
  background-color:  rgba(0, 0, 0, 0.738);
  color: white;
 }

input.another:active {
  background-color: black;
  color: white;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

input.again:active {
  background-color: black;
  color: white;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.table-button{
  margin-left: auto;
  margin-right: auto; 
  margin-top: 50px;
}

